html {
  scroll-behavior: smooth;
}

* {
  animation: fade-in 500ms;
}

.logo {
  height: 40px;
  transform: translateY(-3px);
}

.vinyl {
  object-fit: contain;
  height: 28vh;
  width: 28vh;
  position: absolute;
  z-index: -1;
  transition: transform 150ms ease-in-out;
}

.album {
  height: 37vh;
  width: 28vh;
  margin: auto;
}

.cover {
  object-fit: contain;
  height: 28vh;
  cursor: pointer;
}

.details-album-art {
  object-fit: contain;
  height: 60vh;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  font-weight: bold;
}

.cart-card {
  height: '30vh'
}

.cart-album-art {
  object-fit: contain;
  height: 30vh;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
