html {
  scroll-behavior: smooth;
}

* {
  animation: fade-in 500ms;
  box-sizing: border-box;
}

.logo {
  height: 40px;
  transform: translateY(-3px);
}

.cover-shadow {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 1;
  z-index: 1021;
  transition: all 550ms ease-in;
}

.cover-shadow-hidden {
  opacity: 0;
  display: none;
}

.vinyl {
  object-fit: contain;
  height: 28vh;
  width: 28vh;
  position: absolute;
  z-index: -1;
  transition: transform 150ms ease-in-out;
}

.show-vinyl {
  transform: translateX(60px);
}

.album {
  height: 37vh;
  width: 28vh;
  margin: auto;
}

.cover {
  object-fit: contain;
  height: 28vh;
  cursor: pointer;
}

.details-album-art {
  object-fit: contain;
  height: 60vh;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  font-weight: bold;
}

.page {
  transition: transform 500ms ease-in;
}

.cart {
position: absolute;
right: 0;
top: 0;
overflow-y: auto;
transition: transform 500ms ease-in;
}

.cart-shown {
  overflow: hidden;
  transform: translateX(-480px);
}

.cart-card {
  height: '30vh'
}

.cart-album-art {
  object-fit: contain;
  height: 10vh;
}

.full-page {
  min-height: 89.5vh;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
